webprofile/__pycache__
app/__pycache__
../bookreviews/
../env/
../../Node/node-2/node_modules/
../../Node/node-2/package-lock.json
../../Node/node-2/package.json
../../Node/node-3/node_modules/
../../Node/node-3/package-lock.json
../../Node/node-3/package.json
../../PHP/
../../react/